.solutions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-image: url(../../assets/solutionbg.jpg);

}

.solutions h2 {
    font-size: 36px;
    font-weight: bold;
    color: var(--button-color);
    text-align: center;
    margin-bottom: 50px;
}

.solution-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.solution-card {
    background-image: linear-gradient(to bottom, #f7f7f7, #9abcbe);
    padding: 20px;
    margin: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.solution-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, #87CEEB, var(--button-color));
}

.solution-card h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

.solution-card p {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: start;
}

.industries-list li {
    list-style: none;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.industries-list li::before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
}

.view-all-solutions {
    text-align: center;
    margin-top: 100px;
}

.view-all-btn {
    background-color: var(--button-color); /* Primary color */
    color: var(--text-color-light);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

.view-all-btn:hover {
    background-color: var(--accent-color);
}

/* --- media query --- */

@media (max-width: 900px){
    .solution-card {
        width: 70%;
        margin: auto;
    }
}